@import 'leaflet/dist/leaflet.css';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
